@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");
hmtl {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #DADDD8;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #31293E;
  color: #DADDD8;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 5px;
  font-family: "Neuton", serif; }

.nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
    width: 3.2rem;
    background-color: #5F0F40;
    transition: width 1.2s; }
    .nav ul li {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      height: 3.2rem;
      align-self: center;
      padding-right: 6px;
      background-color: inherit; }
      .nav ul li a {
        display: none; }
    .nav ul:hover {
      width: 16rem; }
      .nav ul:hover li {
        grid-template-columns: 1fr 3.2rem;
        padding-right: 0; }
        .nav ul:hover li a {
          display: inline;
          color: #DADDD8;
          padding-right: 10px;
          align-self: center; }
          .nav ul:hover li a:visited {
            color: #FF6D00; }

body {
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  grid-template-rows: 1fr; }
